body {
     display: flex;
     flex-direction: column;
     min-height: 100vh;
     margin: 0;
 }

main {
    margin-top: 60px;
    flex: 1;
}

@font-face {
    font-family: Ostrich-regular;
    src: url(../fonts/OpenSans-CondLight.ttf);
}

div.navbar.navbar-fixed-top {
    height: 60px;
    background: #D7D6DE;
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 3px;
}

div.navbar-header{
    display: flex;
    align-content: center;
}

.nav.navbar-main{
    padding: 3px 33px;
}

.nav.navbar-nav.navbar-right a:link, a:visited{
    font-size: 20pt;
    font-family: Ostrich-regular;
    color: #000;
    text-decoration: none;
    background-color: inherit;
}

.nav.navbar-nav.navbar-right a:hover,
.locale-wrapper ul li a:hover{
    color: #009DDC;
    background-color: inherit;
}

.search-wrapper, .locale-wrapper,
.search-wrapper-for-sign-up{
    padding-top: 10px;
    height: 60px;
}

.search-wrapper{
    position: absolute;
    left: 720px;
}

.search-wrapper input{
    width: 240px;
    height: 33px;
    margin-top: 3px;
    padding: 6px 12px;
    font-size: 12pt;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px
}

.search-wrapper-for-sign-up{
    position: absolute;
    left: 842px;
    width: 270px;
    margin-left: 30px;
}

.search-wrapper-for-sign-up input{
    width: 280px;
    height: 33px;
    margin-top: 3px;
    padding: 6px 12px;
    font-size: 12pt;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px
}

.profile{
    position: absolute;
    left: 950px;
}

a.dropdown-toggle{
    margin-top: 3px;
    margin-left: 15px;
}

.dropdown-menu{
    position: relative;
    top: 7px;
}

button.sign-out-button{
    border: none;
    outline: none;
    background: none;
    font-family: Ostrich-regular;
    color: #000;
    font-size: 14pt;
    text-decoration: none;
    padding: 0 20px;
}

button.sign-out-button:hover{
    color: #009DDC;
}

.profile.nav.navbar-nav.navbar-right a:link, a:visited {
    font-size: 14pt;
}

.caret-up {
    width: 0;
    height: 0;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;

    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.locale-wrapper{
    position: absolute;
    margin-left: 1037px;
}

.locale-wrapper ul li{
    font-size: 18pt;
    font-family: Ostrich-regular;
    display: inline;
}

form {
    display: inline;
}

button.locale-button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #000;
    padding: 0;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
}

button.locale-button:hover{
    color: #009DDC;
}

.locale-wrapper ul li + li:before {
    content: "| ";
}


#toTop{
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
}




